.studentInformationCentre{
  font-family: Courier, monospace;
    backface-visibility: visible;
    background-color: antiquewhite;         /*    color for the background */
}

.navbar_class{
font-family: 'Times New Roman', Times, serif;
}


/*Menu drawe Navbar */
#menu_navbar {
    font-family: monospace;
    font-size: 1.5em;
}

/* Dimensions and detatils regarding logo */
#nit_dgp_logo {
width: 150px;
height: 150px;
}

/* Id for text regarding cllege */
#nit_info {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

/* Class for the three containers */
.contentBox {
  border-color: black;
}

/* Smaller contatiners within contentBox  */ 

/* Login */
.login_container {
    background-color: aquamarine;
    border: ;
    

}


/* Notice board */
.noticeBoard_container {
    background-color: blue;
    

}


/* About us  */
.abuotUs_container {
    padding: 20dp;
    max-width: inherit;

    background-color: dodgerblue;
}